<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Username Form</title>
</head>
<style>
    div{
        padding: 10px;
        margin: 5px;
        /* background-color: aqua; */
    }
    input,textarea,button{
        padding: 5px;
    }
</style>
<body>
    <h2>You are about to edit User : <%= user.email %>
    </h2>
    <form method="post" action="/user/<%= user.id %>?_method=PATCH">
        <div>
            <textarea name="username"><%= user.username %></textarea>
        </div>
        <div><input type="password" name="pass" placeholder="Enter your password"></div>
        <div><button>Edit</button></div>
    </form>
</body>

</html>